<!-- navigation bar-->
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" >TIAA</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a routerLink="/analysis" routerLinkActive="active">Add Question</a></li>
      <li><a routerLink="/monthly" routerLinkActive="active">Monthly Analysis</a></li>
      <li><a routerLink="/yearly" routerLinkActive="active">Yearly Analysis</a></li>
      <li><a routerLink="/comment" routerLinkActive="active">Comment Analysis</a></li>
    </ul>
  </div>
</nav>
<nav>
<div *ngFor=" let year of yearList ; let i = index" [attr.data-index]="i">
   <ul> <li (click)="setFromYear(year)">{{year}}</li></ul>
  </div>
</nav>    
<h4>{{fromYear}} Analysis</h4>
<!-- chart.js code -->





<table>
  <tr>
    <td style="width:700px ; height:500px;background-color:rgba(255,255,255,0.35);padding: 20px; ">
      <canvas id='barchart'></canvas></td>
      <td style="width:700px ; height:500px; background-color:rgba(255,255,255,0.55);padding:20px; ">
        <h4>Select Question to analyze:</h4>
        <div *ngFor="let question of questionList ; let i = index" [attr.data-index]="i">
          <li (click)="drawGraph(question.questionNo)">{{question.questionNo}}: {{question.questionName}}</li>
        </div>  
         </td> 
  </tr>
</table>

