
<div class="box">
  <img src="../../assets/tiaa.png" class="logo">
  <h1>Employee Login</h1>
  <form>
    <p>Employee ID:</p>
    <input type="text" name="" placeholder="Enter Employee ID" [(ngModel)]="empId" [ngModelOptions]="{standalone: true}">
    <p>Password:</p>
    <input type="password" name="" placeholder="Enter Password" [(ngModel)]="emppassword" [ngModelOptions]="{standalone: true}">
    <button (click)="goToPage('analysis')">
      <span>Submit</span>
    </button>
    <a routerLink="/login">Candidate Login?</a>
  </form>

</div>

